<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="stylesheet" href="/static/styles/404.css">
</head>
<body>
<div class="page404">
    404
</div>
<div class="desc">
    Страница еще не создана, может вернуться домой?
</div>
<a href="/">
<div class="home"><span class="text">Домой</span></div>
</a>
<img src="/static/hole.png" class="hole">
<i class="uil uil-no-entry"></i>
<i class="uil uil-wheel-barrow"></i>
<i class="uil uil-hard-hat"></i>
<i class="uil uil-paint-tool"></i>
</body>
</html>