<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/act.css">
    <link rel="stylesheet" href="/static/styles/menu.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <title>{{act_name}}</title>
</head>
<body>
<div class="menu">
    <a href="/">
        <div class="menu_index">
            <span class="menu_index_text">Главная</span>
            <i class="uil uil-bag"></i>
        </div>
    </a>
    <a href="/buy">
        <div class="menu_buy">
            <span class="menu_buy_text">Купить</span>
            <i class="uil uil-credit-card"></i>
        </div>
    </a>
    <a href="/profile">
        <div class="menu_profile">
            <span class="menu_profile_text">Профиль</span>
            <i class="uil uil-user-circle"></i>
        </div>
    </a>
</div>
<div class="container">
    <div class="header">
        <div class="h-name">{{act_name}}</div>
        <div class="h-sector">Сектор: {{act_sector}}</div>
        <div class="h-daily">За день: {{daily_cost}}₽</div>
    </div>
    <div class="content">
        <div class="act-graph"></div>
        <div class="act-box">
            <div class="desc-name">{{act_name}}</div>
            <div class="desc-desc">{{act_desc}}</div>
            <div class="act-fin-box">
                <div class="act-buy-box">
                    <div class="buy-open">Покупка</div>
                    <div class="buy-cost">{{buy_cost}}₽</div>
                    <div class="buy-cont hide">
                        <div class="buy-cont-costs">
                            <div class="buy-daily-cost">За день: {{daily_cost}}%</div>
                            <div class="buy-cont-cost">{{buy_cost}}₽</div>
                        </div>
                        <div class="buy-lots">Доступно к покупке {{lots}} лотов</div>
                        <div class="buy-total">
                            <div class="total-comission">Комиссия: {{buy_comission}}₽</div>
                            <div class="total-total">Итого: {{buy_total}}₽</div>
                        </div>
                    </div>
                    <div class="buy-btn hide">Купить</div>
                </div>
                <div class="act-sell-box">
                    <div class="sell-open">Продажа</div>
                    <div class="sell-cost">{{sell_cost}}₽</div>
                    <div class="sell-cont hide">
                        <div class="sell-cont-costs">
                            <div class="sell-daily-cost">За день: {{daily_cost}}%</div>
                            <div class="sell-cont-cost">{{sell_cost}}₽</div>
                        </div>
                        <div class="sell-lots">Доступно к покупке {{lots}} лотов</div>
                        <div class="sell-total">
                            <div class="total-comission">Комиссия: {{sell_comission}}₽</div>
                            <div class="total-total">Итого: {{sell_total}}₽</div>
                        </div>
                    </div>
                    <div class="sell-btn hide">Продать</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/scripts/act.js"></script>
</body>
</html>