<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спасибо</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/styleattr.css">
    <link rel="stylesheet" href="/static/styles/menu.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="menu">
    <a href="/">
        <div class="menu_index">
            <span class="menu_index_text">Главная</span>
            <i class="uil uil-bag"></i>
        </div>
    </a>
    <a href="/buy">
        <div class="menu_buy">
            <span class="menu_buy_text">Купить</span>
            <i class="uil uil-credit-card"></i>
        </div>
    </a>
    <a href="/profile">
        <div class="menu_profile">
            <span class="menu_profile_text">Профиль</span>
            <i class="uil uil-user-circle"></i>
        </div>
    </a>
</div>
<div class="container">
    <ul class="attr-list">
        <li class="header">Технологии, использованные при создании сайта:</li>
        <li>Frontend: HTML, CSS, JS, Vue</li>
        <li>Backend: Python(Flask), SQLite</li>
        <li>Разное: Git, <a href="https://github.com">GitHub</a>, <a href="htpps://jetbrains.com/space">Space by JB</a>, <a href="https://trello.com">Trello</a></li>
        <li>Дизайн: Colors by <a href="http://colorhunt.co">ColorHunt</a>, icons by <a href="http://iconscout.com">IconScout</a></li>
        <li>IDE: PyCharm, WebStorm</li>
        <li>Большое спасибо: Виктор Владимирович Олейников</li>
    </ul>
    <a href="https://github.com/sherstnew/invest-sim"><i class="uil uil-github-alt" title="Github"></i></a>
</div>
<script src="/static/scripts/auth.js"></script>
</body>
</html>