<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="1251">
    <title>Купить/продать</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/menu.css">
    <link rel="stylesheet" href="/static/styles/stylebuy.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="menu">
    <a href="/">
        <div class="menu_index">
            <span class="menu_index_text">Главная</span>
            <i class="uil uil-bag"></i>
        </div>
    </a>
    <a href="/buy">
        <div class="menu_buy">
            <span class="menu_buy_text">Купить</span>
            <i class="uil uil-credit-card"></i>
        </div>
    </a>
    <a href="/profile">
        <div class="menu_profile">
            <span class="menu_profile_text">Профиль</span>
            <i class="uil uil-user-circle"></i>
        </div>
    </a>
</div>
<div class="container">
    <div class="top-container">
        <div class="header">здесь вы можете <br> купить или продать <br>акции.<br> и не только их.</div>
        <div class="search-hist">
            <div class="search">
                <input type="text" class="search-input" placeholder="Поиск по бирже">
            </div>
            <div class="last">
                <span class="last_text">История просмотров:</span>
            </div>
        </div>
    </div>

    <div class="shares-container">
        <ul class="shares">
        </ul>
    </div>
</div>
</div>
<script>
const shares_list = document.querySelector('.shares')
const search = document.querySelector('.search-input')
let DATA = {}
let figis = []
let shares = []
const request = new XMLHttpRequest();

request.open('GET', '/static/shares.json');

request.onloadend = function() {
    DATA = JSON.parse(request.responseText)
    figis = Object.keys(DATA)
    shares = Object.values(DATA)
    renderList(figis, shares)
}

document.addEventListener('click', event => {
    if (event.target.getAttribute('data-act-id') != undefined) {
        location.href = '/act?id=' + event.target.getAttribute('data-act-id')
    }
})

search.addEventListener('input', () => {
    filt = DATA.filter(share => share.toLowerCase().indexOf(search.value.toLowerCase()) != -1)
    renderList(filt)
})

const renderList = (figis, shares) => {
    while (shares_list.firstChild) {
        shares_list.removeChild(shares_list.firstChild);
    }
    for (let i = 0; i < figis.length; i++) {
        const li = document.createElement('li')
        li.innerHTML = shares[i][4]
        let figi = figis[i]
        li.setAttribute('data-act-id', figi)
        shares_list.appendChild(li)
    }
}

request.send();
</script>
<script src="/static/scripts/auth.js"></script>
</body>
</html>
