<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="stylesheet" href="/static/styles/styleconfirm.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Подтверждение почты</title>
</head>
<body>
<div class="container">
    <div class="header">Вы подтвердили почту и теперь можете пользоваться всеми преимуществами нашего сайта! Спасибо за регистрацию. <br> Вас автоматически перенаправит на домашнюю страницу.</div>
    <i class="uil uil-check-circle"></i>
</div>
<script>
    setTimeout(()=>{
        location = '/'
    }, 3000)
</script>
</body>
</html>