<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тариф</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="/static/styles/styleplan.css">
    <link rel="stylesheet" href="/static/styles/menu.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="menu">
    <a href="/">
        <div class="menu_index">
            <span class="menu_index_text">Главная</span>
            <i class="uil uil-bag"></i>
        </div>
    </a>
    <a href="/buy">
        <div class="menu_buy">
            <span class="menu_buy_text">Купить</span>
            <i class="uil uil-credit-card"></i>
        </div>
    </a>
    <a href="/profile">
        <div class="menu_profile">
            <span class="menu_profile_text">Профиль</span>
            <i class="uil uil-user-circle"></i>
        </div>
    </a>
</div>
<div class="container">
    <div class="header">Тарифы</div>
    <div class="standart">
    <span class="std-head">Стандарт</span>
        <ul class="std-list">
            <li>Покупка/продажа ценных бумаг</li>
            <li>Повышение каждые 2 недели</li>
        </ul>
        <i class="uil uil-invoice"></i>
    </div>

    <div class="plus">
    <span class="pls-head">Плюс</span>
    <ul class="std-list">
        <li>2 повышения</li>
        <li>40 000 рублей(каждый месяц)</li>
        <li>Повышение каждую неделю</li>
    </ul>
        <i class="uil uil-money-withdraw"></i>
        <i class="uil uil-angle-up"></i>
    </div>

    <div class="premium">
    <span class="prm-head">Премиум</span>
        <ul class="prm-list">
            <li>5 повышений</li>
            <li>100 000 рублей(каждый месяц)</li>
            <li>Повышение каждые 4 дня</li>
        </ul>
        <i class="uil uil-money-withdraw"></i>
        <i class="uil uil-angle-double-up"></i>
    </div>
</div>
</body>
</html>