<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тариф</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/plan.css">
    <link rel="stylesheet" href="/static/styles/menu.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="menu">
    <a href="/">
        <div class="menu_index">
            <span class="menu_index_text">Главная</span>
            <i class="uil uil-bag"></i>
        </div>
    </a>
    <a href="/buy">
        <div class="menu_buy">
            <span class="menu_buy_text">Купить</span>
            <i class="uil uil-credit-card"></i>
        </div>
    </a>
    <a href="/profile">
        <div class="menu_profile">
            <span class="menu_profile_text">Профиль</span>
            <i class="uil uil-user-circle"></i>
        </div>
    </a>
</div>
<div class="container">
    <div class="plans-container">
        <div class="standart plan">
        <span class="std-head head">Стандарт</span>
            <div class="std-list list">
                <div>- Покупка/продажа ценных бумаг</div>
                <div>- Повышение каждые 2 недели</div>
            </div>
            <i class="uil uil-invoice"></i>
        </div>
        
        <div class="plus plan">
        <span class="pls-head head">Плюс</span>
        <div class="std-list list">
            <div>- 2 повышения</div>
            <div>- 40 000 рублей(каждый месяц)</div>
            <div>- Повышение каждую неделю</div>
        </div>
            <i class="uil uil-money-withdraw"></i>
            <i class="uil uil-angle-up"></i>
        </div>
        
        <div class="premium plan">
        <span class="prm-head head">Премиум</span>
            <div class="prm-list list">
                <div>- 5 повышений</div>
                <div>- 100 000 рублей(каждый месяц)</div>
                <div>- Повышение каждые 4 дня</div>
            </div>
            <i class="uil uil-money-withdraw"></i>
            <i class="uil uil-angle-double-up"></i>
        </div>
    </div>
</div>
<script src="/static/scripts/auth.js"></script>
</body>
</html>