<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Профиль</title>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/static/styles/styleprofile.css">
      <link rel="stylesheet" href="/static/styles/menu.css">
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
  </head>
  <body>
  <div class="menu">
    <a href="/">
      <div class="menu_index">
        <span class="menu_index_text">Главная</span>
        <i class="uil uil-bag"></i>
      </div>
    </a>
    <a href="/buy">
      <div class="menu_buy">
        <span class="menu_buy_text">Купить</span>
        <i class="uil uil-credit-card"></i>
      </div>
    </a>
    <a href="/profile">
      <div class="menu_profile">
        <span class="menu_profile_text">Профиль</span>
        <i class="uil uil-user-circle"></i>
      </div>
    </a>
  </div>
<div class="container">
  <div class="pr-header">
    <img src="{{userpic}}" class="userpic">
      <div class="userdata">
        <div class="username">
          имя
        </div>
        <div class="status">
          статус
        </div>
      </div>
    </div>
    <div class="pr-btns">
        <a href="/settings">
        <div class="settings">
          <i class="uil uil-setting"></i>
        <span class="settext">Настройки</span>
        </div>
        </a>
        <a href="/history">
        <div class="history">
          <i class="uil uil-history"></i>
          <span class="histtext">История операций</span>
        </div>
        </a>
        <a href="/plan">
          <div class="plan">
            <i class="uil uil-clipboard-notes"></i>
            <span class="plantext">Тариф</span>
          </div>
        </a>
        <div class="exit-btn">Выйти</div>
        <a href="/attr"><div class="attribute">Были использованы технологии и ресурсы</div></a>
      </div>
</div>
    <script>
      const username = document.querySelector('.username')
      const status = document.querySelector('.status')
      const exit_btn = document.querySelector('.exit-btn')
      let accounts = '{{accounts}}'
      accounts = accounts.replaceAll('(', '').replaceAll(')', '').replaceAll('&#39;', '')
      accounts = accounts.split(';')
      accounts.pop()

      let token = document.cookie.replace(/(?:(?:^|.*;\s*)token\s*\=\s*([^;]*).*$)|^.*$/, "$1")
      // accounts.forEach(acc => {
      //     acc = acc.split(',')
      //     if (acc[0].replaceAll(' ', '') == token) {
      //       username.innerHTML = acc[1].replaceAll(' ', '')
      //       status.innerHTML = acc[4].replaceAll(' ', '')
      //     }
      // });
      exit_btn.addEventListener('click', () => {
        const xhr = new XMLHttpRequest()
        xhr.open('POST', '/profile', true)
        xhr.send()
        location = '/'
      })
    </script>
  </body>
</html>
