* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.plans-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
}

.header {
    font-size: 50px;
}

.plan {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    background: linear-gradient(45deg, rgb(255, 238, 187), rgb(255, 248, 228, 0.2));
    box-shadow: -15px 15px 0px 1px rgba(249, 231, 175, 1);
    transition: 0.5s;
}
.plan:hover {
    box-shadow: -15px 15px 99px 1px rgba(249, 231, 175, 1);
    transition: 0.5s;
}

.list {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    width: 250px;
}

.head {
    font-size: 25px;
}
.uil {
    font-size: 60px;
    color: #060000;
}